<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Third_Assignment.Properties.Settings.PI2324_rbistrici22_DBConnectionString"
            connectionString="Data Source=31.147.206.65;Initial Catalog=PI2324_rbistrici22_DB;Persist Security Info=True;User ID=PI2324_rbistrici22_User;Password=tn|JTN7#;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
